dist: bionic

services:
  - docker

env:
  - CMD="./build.sh qttest"
    PUSH_TO_DOCKER_HUB=true
    WEBHOOK_URL=https://hooks.microbadger.com/images/approximator/qttest/sGTa1LQ5hd_Ef9Z4eoOYrAFfo3I=
  - CMD="./build.sh jupyter"
    PUSH_TO_DOCKER_HUB=true
    WEBHOOK_URL=https://hooks.microbadger.com/images/approximator/jupyter/D0oYuf7TdKecFpa08pG-cUrS8x0=
  - CMD="./build.sh pycharm"
    PUSH_TO_DOCKER_HUB=true
    WEBHOOK_URL=https://hooks.microbadger.com/images/approximator/pycharm/g-6QUo2PiO3EErtM2i_MQ6PztbE=
  - CMD="./build.sh clion"
    PUSH_TO_DOCKER_HUB=true

addons:
  apt:
    packages:
      - ca-certificates
      - httpie

script:
  - $CMD
