services:
  - docker

env:
  # - BUILD_TYPE=Release CMD="./qt/build.sh"
  # - BUILD_TYPE=Debug CMD="./qt/build.sh"
  - CMD="./build.sh traviscli"
    PUSH_TO_DOCKER_HUB=true
    WEBHOOK_URL=https://hooks.microbadger.com/images/approximator/traviscli/-EyEPcISuXT3ZKruIVYqk6l4IsA=
  - CMD="./build.sh qttest"
    PUSH_TO_DOCKER_HUB=true
    WEBHOOK_URL=https://hooks.microbadger.com/images/approximator/qttest/sGTa1LQ5hd_Ef9Z4eoOYrAFfo3I=
  - CMD="./build.sh jupyter"
    PUSH_TO_DOCKER_HUB=true
    WEBHOOK_URL=https://hooks.microbadger.com/images/approximator/jupyter/D0oYuf7TdKecFpa08pG-cUrS8x0=
  - CMD="./build.sh pycharm"
    PUSH_TO_DOCKER_HUB=true
    WEBHOOK_URL=https://hooks.microbadger.com/images/approximator/pycharm/g-6QUo2PiO3EErtM2i_MQ6PztbE=
  - CMD="./build.sh digikam"

addons:
  apt:
    packages:
      - ca-certificates
      - httpie

script:
  - $CMD
