services:
  - docker

# env:
  # - IMAGE=Qt IMAGE_TAG=approximator/qt
  # - IMAGE=QtCreator IMAGE_TAG=approximator/qtcreator
  # - IMAGE=traviscli      IMAGE_TAG=traviscli VERSION=latest
  # - IMAGE=qbs            IMAGE_TAG=qbs       VERSION=1.5
  # - IMAGE=qttest         IMAGE_TAG=qttest    VERSION=15.10
  # - IMAGE=texlive        IMAGE_TAG=texlive   VERSION=latest
  # - IMAGE=pycharm        IMAGE_TAG=pycharm   VERSION=latest

script:
  echo "Disabled"
  # build images
  # - cd $IMAGE
  # - docker build -t $IMAGE_TAG .

# after_success:
  # - docker tag $IMAGE_TAG $DOCKER_USERNAME/$IMAGE_TAG:$VERSION
  # - docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  # - docker push $DOCKER_USERNAME/$IMAGE_TAG:$VERSION
