name: Qt

on:
  push:
    paths:
    - '.github/actions/conan/**'
    - '.github/workflows/Build-qt.yml'
  pull_request:
    paths:
    - '.github/actions/conan/**'
    - '.github/workflows/Build-qt.yml'

jobs:

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler_version:
          - 7
          - 8
        compiler:
          - gcc
        build_type:
          - Release

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Conan install Qt
      env:
        CONAN_REMOTE_PSWD: ${{ secrets.CONAN_REMOTE_PSWD }}

      uses: ./.github/actions/conan
      with:
        conan_cmd: >-
          conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan     &&
          conan profile new default --detect                                                      &&
          conan profile update settings.compiler.libcxx=libstdc++11 default                       &&
          conan profile update settings.compiler=${{ matrix.compiler }} default                   &&
          conan profile update settings.compiler.version=${{ matrix.compiler_version }} default   &&
          conan install -u /conanfile -s build_type=${{ matrix.build_type }} --build=missing      &&
          conan remote add approximator https://api.bintray.com/conan/approximator/conan-packages &&
          conan user -p $CONAN_REMOTE_PSWD -r approximator approximator                           &&
          conan upload qt/5.13.0@bincrafters/stable --all -r=approximator
